<!DOCTYPE html>



<html lang="pt-br">
  <head>
    
    <title>Home</title>
    
  <link rel="stylesheet" href="./Bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" src="/stylesheet/style.css">
  
  </head>
  
  <form class="form-inline">
    <fieldset>
      <!-- Form Name -->
      <legend>Atividades Ofertadas no CRAS No Mês de Referencia</legend>
      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="control-label" for="rd">Acolhida</label>
        <div class="controls">
          <label class="radio inline" for="rd-0">
            <input name="rd" id="rd-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rd-1">
            <input name="rd" id="rd-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdVisitaDo">Visita Domiciliar</label>
        <div class="controls">
          <label class="radio inline" for="rdVisitaDo-0">
            <input name="rdVisitaDo" id="rdVisitaDo-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdVisitaDo-1">
            <input name="rdVisitaDo" id="rdVisitaDo-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="radios">Acompanhamento prioritario de familias em descumprimento de condicionalidades do programa Bolsa Familia</label>
        <div class="controls">
          <label class="radio inline" for="radios-0">
            <input name="radios" id="radios-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="radios-1">
            <input name="radios" id="radios-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdBuscaAtiva">Busca Ativa</label>
        <div class="controls">
          <label class="radio inline" for="rdBuscaAtiva-0">
            <input name="rdBuscaAtiva" id="rdBuscaAtiva-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdBuscaAtiva-1">
            <input name="rdBuscaAtiva" id="rdBuscaAtiva-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdgrupoIdoso">Oficina/Grupos de Convivencia com famílias.</label>
        <div class="controls">
          <label class="radio inline" for="rdgrupoIdoso-0">
            <input name="rdgrupoIdoso" id="rdgrupoIdoso-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdgrupoIdoso-1">
            <input name="rdgrupoIdoso" id="rdgrupoIdoso-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdacompanhamentobpc">Acompanhamento Prioritario de famílias com beneficiarios do beneficio de prestação continua-BPC e Beneficios eventuais.</label>
        <div
        class="controls">
          <label class="radio inline" for="rdacompanhamentobpc-0">
            <input name="rdacompanhamentobpc" id="rdacompanhamentobpc-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdacompanhamentobpc-1">
            <input name="rdacompanhamentobpc" id="rdacompanhamentobpc-1" value="Não" type="radio">Não</label>
      </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdArtTerritorio">Articulação e gestão De territorio</label>
        <div class="controls">
          <label class="radio inline" for="rdArtTerritorio-0">
            <input name="rdArtTerritorio" id="rdArtTerritorio-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdArtTerritorio-1">
            <input name="rdArtTerritorio" id="rdArtTerritorio-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdobpc">Orientação/Encaminhamento para Inserção BPC</label>
        <div class="controls">
          <label class="radio inline" for="rdobpc-0">
            <input name="rdobpc" id="rdobpc-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdobpc-1">
            <input name="rdobpc" id="rdobpc-1" value="Não" type="radio">Não</label>
        </div>
      </div>
      <!-- Multiple Radios (inline) -->
      <div class="control-group">
        <label class="control-label" for="rdEncFCadunico">Encaminhamento das Familias para inserção no Cadastro Unico</label>
        <div class="controls">
          <label class="radio inline" for="rdEncFCadunico-0">
            <input name="rdEncFCadunico" id="rdEncFCadunico-0" value="Sim" checked="checked" type="radio">Sim</label>
          <label class="radio inline" for="rdEncFCadunico-1">
            <input name="rdEncFCadunico" id="rdEncFCadunico-1" value="Não" type="radio">Não</label>
        </div>
      </div>
    </fieldset>
  </form>
  <form class="form-horizontal">
    <fieldset>
      <html>