doctype html
html(lang ="pt-BR")
  head
  
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    title Home
     
    
  body
    div(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          a(href="/" class="navbar-brand")
        div(class="navbar-collapse collapse" id="navbar-main")
        div(class="navbar-nav")
          
              a(href="/") Home
          
              a(href="/")  SimSuas
          
              a(href="/")   Snas
              
              a(href="/")   Pronatec
    div(class="container")      
       
    block content
    
    
    footer
        div(class="container")
            p Acessuas, SMDS.