doctype html
html(lang ="pt-BR")
  head
  
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='javascript', href='/javascripts/jquery-1.11.3.min.js')
  
    title Home
  
  script(src='/javascripts/hide.js')
  
  body
    
    nav(class="nav  navbar-nav navbar-right")
    
     div(class="container-fluid")
      div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
    
    
          a(href="/" class="navbar-brand")
        div(class="navbar-collapse collapse" id="navbar-main")
        div(class="nav navbar-nav")
          
              a(href="/home" class="btn btn-default") Home
          

              a(href="/sissuas" class="btn btn-default")  SimSuas

          
              a(href="/" class="btn btn-default")   Snas
              
              a(href="/" class="btn btn-default")   Pronatec
    div(class="container-fluid")      
       
    block content
    
    
    footer
        div(class="nav  navbar-nav navbar-right") 
            
             
              button(class="btn btn-default disabled") Acessuas, SMDS.
            
         
            