

div(class ="control-group") Atividades Ofertadas no CRAS No Mês de Referencia 
         
      button(type="button" class="btn btn-success")
          span(class="glyphicon glyphicon-plus") Mostrar
          
          
      button(type="button" class="btn btn-warning")
          span(class="glyphicon glyphicon-minus") Ocultar
          
 form(class="form-horizontal")
       
    div(class ="controls") 
    p.
    h5 Acolhida:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio" checked = "checked")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")   
      
      br
      
 form(class="form-horizontal")
 
    div(class ="controls") 
     p
      
     p. 
     h5 Visita Domiciliar:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")   
      
      
     
 form(class="form-horizontal")
 
    div(class ="controls") 
     p
      
     p. 
     h5 Acompanhamento prioritario de familias em descumprimento de condicionalidades do programa Bolsa Familia:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")    
      
form(class="form-horizontal")

    div(class ="controls") 
     p
     p. 
     h5 Busca Ativa:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")    
      
 form(class="form-horizontal")
      
    div(class ="controls") 
     p
      
     p. 
     h5 Oficina/Grupos de Convivencia com famílias:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")
      
 form(class="form-horizontal")
 
    div(class ="controls") 
     p
      
     p. 
     h5 Acompanhamento Prioritario de famílias com beneficiarios do beneficio de prestação continua-BPC e Beneficios eventuais.
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")
      
 form(class="form-horizontal")
 
    div(class ="controls") 
     p 
     
     p. 
     h5 Articulação e gestão De territorio

      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")
      
      
 form(class="form-horizontal")

    div(class ="controls")    
     p 
     
     p. 
     h5 Orientação/Encaminhamento para Inserção BPC

      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")
      
      
 form(class="form-horizontal") 
 
    div(class ="controls")  
     p 
     
     p. 
     h5 Encaminhamento das Familias para inserção no Cadastro Unico

      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")
      
  
        
  