

h4 Atividades Ofertadas no CRAS No Mês de Referencia

 form(class="form-horizontal")
 fieldset
      label(class="control-label" for="rd") Acolhida
      input(name="rd" id="rd-1" value="Não" type="radio")
 