

nav Atividades Ofertadas no CRAS No Mês de Referencia

 form(class="form-horizontal")
       
    p.
    h5 Acolhida:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")   
      
      br
     p
      
     p. 
     h5 Visita Domiciliar:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")   
      
      
      br
     p
      
     p. 
     h5 Acompanhamento prioritario de familias em descumprimento de condicionalidades do programa Bolsa Familia:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")    
      
     p
      
     p. 
     h5 Busca Ativa:
      
    label(class="control-label" for="rd") Sim
      input(name="rd" id="rd-1" value="Sim" type="radio")
      
     p
    label(class="control-label" for="rd") Não
      input(name="rd" id="rd-1" value="Nao" type="radio")    
      
      
      
      
      
      