<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="./Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" src="/stylesheet/style.css">
    <script src="./javascripts/jquery-1.11.3.min.js"></script>
    <script src="../lib/ejs_fulljslint.js" type="text/javascript"></script>
    <script>
      $(document).ready(function(){
          $("button").click(function(){
              $("#q").toggle();
          });
      });
    </script>
  </head>
  
  <body>
	  <% include ./forms/AtividadesOfertadas %>
	  
	  
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
  <html>