<!-- Form Name -->
<legend>O Paif é Confinanciado com recurso do?</legend>
<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="rdPaifMuni">Paif-Recurso Municipal</label>
  <div class="controls">
    <label class="radio inline" for="rdPaifMuni-0">
      <input name="rdPaifMuni" id="rdPaifMuni-0" value="Sim" checked="checked" type="radio">Sim</label>
    <label class="radio inline" for="rdPaifMuni-1">
      <input name="rdPaifMuni" id="rdPaifMuni-1" value="Não" type="radio">Não</label>
  </div>
</div>
<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="rdpaifEst">Paif-Recurso Estadual</label>
  <div class="controls">
    <label class="radio inline" for="rdpaifEst-0">
      <input name="rdpaifEst" id="rdpaifEst-0" value="Sim" checked="checked" type="radio">Sim</label>
    <label class="radio inline" for="rdpaifEst-1">
      <input name="rdpaifEst" id="rdpaifEst-1" value="não" type="radio">não</label>
  </div>
</div>
<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="rdpaifFed">Paif-Recurso Federal</label>
  <div class="controls">
    <label class="radio inline" for="rdpaifFed-0">
      <input name="rdpaifFed" id="rdpaifFed-0" value="Sim" checked="checked" type="radio">Sim</label>
    <label class="radio inline" for="rdpaifFed-1">
      <input name="rdpaifFed" id="rdpaifFed-1" value="Não" type="radio">Não</label>
  </div>
</div>
</fieldset>
</form>